{% extends "./base_paginas.html" %}

{% block title %} blog {% endblock %}

{% block body %}
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'blog_list' %}">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Volver a Lista</font></font></a>
    </div>
  </nav>
  
  <div class="container mb-5">
    <ul class="pagination justify-content-center">
  <div class="card" style="width: 18rem;">
      <div class="card-body mb-5">
        <h3 class="card-title">{{object.titulo}}</h5>
        <h4 class="card-subtitle mb-2 text-muted">{{object.sub_titulo}}</h6>
        <p class="card-text">{{object.cuerpo}}</p>
        <p class="card-text">{{object.autor}}</p>
      </div>
  </div>
    </ul>
</div>
  </div>



{% endblock %}
