{% extends "./base_paginas.html" %}

{% block title %} blog {% endblock %}

{% block body %}
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'blog_list' %}">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Volver a Lista</font></font></a>
    </div>
  </nav>
<div>
    <h1>{{object.titulo}}</h1>
    <h2>{{object.sub_titulo}}</h2>
    <p> {{object.cuerpo}} </p>
    <h3>{{object.fecha}}</h3>
    <h3>{{object.autor}}</h3>
</div>

{% endblock %}
