{% extends "./base_paginas.html" %}

{% block title %} nuevo blog {% endblock %}

{% block body %}
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'blog_list' %}">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Volver a Lista</font></font></a>
    </div>
  </nav>


  
  <div class="container">
    <div class="mb-5">
      <div class="row">
        <div class="col">
          <ul class="pagination justify-content-center">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="button" class="btn btn-secondary"><input type="submit" value="Guardar"></button>
          </form> 
        </ul>
        </div>
      </div>
    </div>
  </div>


{% endblock %}