{% extends "./base_paginas.html" %}

{% block title %} confirmar borrado {% endblock %}

{% block body %}
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'blog_list' %}">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Volver a Lista</font></font></a>

    </div>
  </nav>
  <ul class="pagination justify-content-center">
<form method="post">{% csrf_token %}
    <p>¿Está Seguro que quiere borrar "{{ object }}"?</p>
    {{ form }}
    <button type="button" class="btn btn-secondary"><input type="submit" value="Confirmar"></button>
</form>
</ul>

{% endblock %}